$appBackground: #4ab94a;
$appBackgroundContrast: #4dde4d;
$optionHighlight: #ff7474;

html {
  background: #fbeafa;
}

body {
  width: 320px;
  height: 564px;
  margin: 50px auto 0;
  background: $appBackground;
  text-align: center;
  line-height: 1.4em;
  border-radius: 15px;
  border: 3px solid $appBackground;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  $padding: 10px;
  padding: 0 $padding $padding $padding;
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }
}

.section {
  background: white;
  margin: 10px 0;
  border-radius: 10px;
}
.hero-section {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-section {
  display: flex;
  align-items: center;
  justify-content: center;

  .question {
    font-size: 1em;
    font-weight: 500;
  }
}

.submit-section {
  .button {
    margin: 6px;
    padding: 5px;
    border: 1px solid $appBackgroundContrast;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
      transition: background 1s;
      background: $appBackgroundContrast;
    }
  }
}

.options-section {
  .option {
    margin: 6px;
    padding: 5px;
    border: 1px solid $optionHighlight;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
      transition: background 1s;
      background: $optionHighlight;
      opacity: 0.5;
    }

    &.selected {
      background: $optionHighlight;
      color: white;
      opacity: 1;
    }
  }
}
