body {
  color: black;
  margin: 50px;
}

.item-list {
  border: 0px solid red;
}

.container {
  margin-top: 20px;
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.container:first-child {
  border: 3px solid orange;
}

.item {
  min-height: 2em;
  border: 0px solid red;
  width: 10%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  background: lightgrey;
  font-weight: 500;
}
.option_1 {

}
.option_2 {

}
.option_3 {

}
.option_4 {

}
.answer {

}
.id {
  font-size: 10px;
  overflow: hidden;
}
.correct {
  background: lightgreen;
}

.deleteQuestion {
  font-size: 14px;
  background: red;
  color: white;
  font-family: monospace;
  font-weight: 600;
}
